torch>=2.5.1
torchvision>=0.20.1
numpy==1.26.4
pandas>=2.0.0
gensim==4.3.3
pyarrow>=12.0.0
scikit-learn>=1.5.0
tqdm>=4.66.0
PyYAML>=6.0.0
sentencepiece==0.2.1
transformers==4.29.2
tokenizers==0.13.3
pyabsa==2.4.3
nltk>=3.9.0
seqeval>=1.2.0
beautifulsoup4>=4.12.0
contractions>=0.1.73

termcolor>=2.0.0
